frame-deploy/statemachine/waf_gen.asl.json
{
  "StartAt": "filter",
  "TimeoutSeconds": 3600,
  "States": {
    "filter": {
      "Type": "Task",
      "Resource": "${BedrockFilterARN}",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "NumericEquals": 200,
          "Next": "Generate WAF"
        },
        {
          "Variable": "$.status",
          "NumericEquals": 0,
          "Next": "Success"
        }
      ]
    },
    "Generate WAF": {
      "Type": "Task",
      "Resource": "${BedRockWAFGenFunctionArn}",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Lambda Callback"
    },
    "Lambda Callback": {
      "Type": "Task",
      "Resource": "${SESFunctionARN}",
      "Parameters": {
        "Payload": {
          "ExecutionContext.$": "$$",
          "APIGatewayEndpoint": "https://a7kqlbugab.execute-api.us-east-1.amazonaws.com/states",
          "rules.$": "$"
        }
      },
      "ResultPath": "$.Status",
      "Next": "ManualApprovalChoiceState"
    },
    "ManualApprovalChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Status.Status",
          "StringMatches": "Approved! Task approved by 6322772532@g.siit.tu.ac.th",
          "Next": "Pass"
        },
        {
          "Variable": "$.Status.Status",
          "StringMatches": "Rejected! Task rejected by 6322772532@g.siit.tu.ac.th",
          "Next": "Success"
        }
      ]
    },
    "Pass": {
      "Type": "Pass",
      "Next": "Apply rules",
      "Result": 0,
      "ResultPath": "$.loop"
    },
    "Apply rules": {
      "Type": "Task",
      "Resource": "${ApplyWAFARN}",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
       },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Evaluate"
    },
    "Evaluate": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode",
          "NumericEquals": 400,
          "Next": "fix WAF rules"
        },
        {
          "Variable": "$.statusCode",
          "NumericEquals": 200,
          "Next": "send an email"
        }
      ]
    },
    "send an email": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sns:publish",
      "Parameters": {
        "Message.$": "$.body",
        "TopicArn": "arn:aws:sns:us-east-1:067103940807:frame-email-SNSHumanApprovalEmailTopic-Xieggp9abj4s"
      },
      "End": true
    },
    "fix WAF rules": {
      "Type": "Task",
      "Resource": "${WAFFixARN}",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:067103940807:function:frame-bedrock-fix-wafv2:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Apply rules"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}